@page "/admin/products"
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Products</MudText>
    <MudGrid Class="mt-16">
        <MudItem xs="12">
            @if (ProductService.AdminProducts == null)
            {
                <MudItem>Loading Products...</MudItem>
            }
            else
            {
                <MudButton @onclick="CreateProduct" Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Medium" Class="mb-8">Add new product</MudButton>
                <MudSimpleTable Style="overflow-x: auto;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Variant</th>
                            <th>Price</th>
                            <th>Visible</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <Virtualize Items="ProductService.AdminProducts" Context="product">
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                                    {
                                    <img src="@product.ImageUrl" />
                                    }
                                    else if (product.Images.Count > 0)
                                    {
                                    <img src="@product.Images[0].Data" />
                                    }
                                </td>
                                <td><MudText>@product.Title</MudText></td>
                                <td>
                                    @foreach (var variant in product.Variants)
                                    {
                                    <MudText>@variant.ProductType.Name</MudText>

                                    }
                                 </td>
                                <td>
                                @foreach (var variant in product.Variants)
                                    {
                                    <MudText>@variant.Price</MudText>
                                    }
                                </td>
                                <td>@(product.Visible ? "✅" : "")</td>
                                <td>
                                    
                                    <MudButton @onclick="(() => EditProduct(product.Id))" Variant="Variant.Filled" DisableElevation="true" Color="Color.Success" Size="Size.Small">Edit</MudButton>
                                </td>
                            </tr>
                        </Virtualize>
                    </tbody>
                </MudSimpleTable>
            }
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetAdminProducts();
    }

    void EditProduct(int productId)
    {
        NavigationManager.NavigateTo($"admin/product/{productId}");
    }

    void CreateProduct()
    {
        NavigationManager.NavigateTo($"admin/product/");
    }
}
