@page "/orders/{orderId:int}"
@inject IOrderService OrderService



<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Order Details</MudText>

    <MudGrid Spacing="6" Class="mt-16">
        <MudItem xs="12">
            @if (order == null)
            {
                <MudText>Loading order...</MudText>
            }
            else
            {
                <MudText Typo="Typo.h6">Order from @order.OrderDate</MudText>

                <MudSimpleTable Style="overflow-x: auto;" Class="mt-8" Elevation="1" Dense="true">
                    <thead>
                        <tr>

                            <th>Image</th>
                            <th>Product</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in order.Products)
                        {
                            <tr>

                                <td><MudImage Src="@product.ImageUrl" Width="154" Height="133" Elevation="0" /></td>
                                <td>
                                    <a href="/product/@product.ProductId"><MudText>@product.Title</MudText></a>
                                    <MudText Typo="Typo.body2">@product.ProductType</MudText>
                                    <MudText Typo="Typo.body2">Quantity: @product.Quantity</MudText>
                                </td>
                                <td><MudText>@product.TotalPrice zł</MudText></td>

                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>

                <MudText Class="mt-4" Align="Align.Right"><b>Total: @order.TotalPrice zł</b></MudText>
            }
        </MudItem>
    </MudGrid>
</MudContainer>


@code {
    [Parameter]
    public int OrderId { get; set; }

    OrderDetailsResponse order = null;

    protected override async Task OnInitializedAsync()
    {
        order = await OrderService.GetOrderDetails(OrderId);
    }


}
