@page "/register"
@inject IAuthService AuthService

<PageTitle>Register</PageTitle>

<section class="my-lg-5 my-4">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                <!-- img -->
            </div>
            <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                <div class="mb-lg-9 mb-5">
                    <h1 class="mb-1 h2 fw-bold">Get Start Shopping</h1>
                    <p>Welcome to FreshCart! Enter your email to get started.</p>
                </div>

                <EditForm Model="user" OnValidSubmit="HandleRegistration">
                    <DataAnnotationsValidator />
                    <div class="row g-3">

                        <div class="col-12">
                            <InputText @bind-Value="user.Email" type="email" class="form-control" id="inputEmail4" placeholder="Email" required="" />
                            <ValidationMessage For="@(() => user.Email)" />
                        </div>
                        <div class="col-12">
                            <InputText @bind-Value="user.Password" type="password" class="form-control" id="inputPassword4" placeholder="Password" required="" />
                            <ValidationMessage For="@(() => user.Password)" />
                        </div>
                        <div class="col-12">
                            <InputText @bind-Value="user.ConfirmPassword" type="password" class="form-control" id="inputConfirmPassword4" placeholder="Confirm Password" required="" />
                            <ValidationMessage For="@(() => user.ConfirmPassword)" />
                        </div>
                        <div class="col-12 d-grid">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>

                        <p><small>By continuing, you agree to our <a href="#!"> Terms of Service</a> &amp; <a href="#!">Privacy Policy</a></small></p>
                    </div>
                    <div class="@messageCssClass">
                        <span>@message</span>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>

@code {
    UserRegister user = new UserRegister();

    string message = string.Empty;
    string messageCssClass = string.Empty;

    async Task HandleRegistration()
    {
        var result = await AuthService.Register(user);
        message = result.Message;
        if (result.Success)
            messageCssClass = "text-success";
        else
            messageCssClass = "text-danger";
    }
}