@page "/register"
@inject IAuthService AuthService

<PageTitle>Rejestracja</PageTitle>

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Register</MudText>
    <MudGrid Spacing="6" Justify="Justify.Center" Class="mt-16">
        <MudItem xs="6">
            <EditForm Model="user" OnValidSubmit="HandleRegistration">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12">
                        <MudTextField T="string" @bind-Value="user.Email" Label="Email" />
                        <ValidationMessage For="@(() => user.Email)" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="string" @bind-Value="user.Password" Label="Password" InputType="InputType.Password" />
                        <ValidationMessage For="@(() => user.Password)" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="string" @bind-Value="user.ConfirmPassword" Label="Confirm Password" InputType="InputType.Password" />
                        <ValidationMessage For="@(() => user.ConfirmPassword)" />
                    </MudItem>
                    <MudItem xs="12" Class="d-flex">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8 mb-4">Register</MudButton>
                    </MudItem>
                </MudGrid>
             </EditForm>
             <div class="@messageCssClass">
                <span>@message</span>
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    UserRegister user = new UserRegister();

    string message = string.Empty;
    string messageCssClass = string.Empty;

    async Task HandleRegistration()
    {
        var result = await AuthService.Register(user);
        message = result.Message;
        
        if (result.Success)
            messageCssClass = "text-success";
        else
            messageCssClass = "text-danger";

    }
}
