@inject IAddressService AddressService

@if (address == null)
{
    <span>
        You haven't specified a delivery address, yet.
        <button class="btn" @onclick="InitAddress">Add an address?</button>
    </span>
}
else if (!editAddress)
{
    <p>
        <span>@address.FirstName @address.LastName</span><br />
        <span>@address.Street</span><br />
        <span>@address.City, @address.State, @address.Zip</span><br />
        <span>@address.Country</span><br />
    </p>
    <button type="button" class="btn btn-primary" @onclick="EditAddress">Edit</button>
}
else
{
    <EditForm Model="address" OnSubmit="SubmitAddress">
        <MudGrid>
            <MudItem xs="12">
                <MudTextField T="string" Label="Country" @bind-Value="address.Country" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField T="string" Label="ZIP/Postal Code" @bind-Value="address.Zip" />
            </MudItem>
            <MudItem xs="6">
                <MudTextField T="string" Label="First name" @bind-Value="address.FirstName" />
            </MudItem>
            <MudItem xs="6">
                <MudTextField T="string" Label="Last name" @bind-Value="address.LastName" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField T="string" Label="Street" @bind-Value="address.Street" />
            </MudItem>
            <MudItem xs="6">
                <MudTextField T="string" Label="City" @bind-Value="address.City" />
            </MudItem>
            <MudItem xs="6">
                <MudTextField T="string" Label="State" @bind-Value="address.State" />
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8">Save</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
}

@code {
    Address address = null;
    bool editAddress = false;

    protected override async Task OnInitializedAsync()
    {
        address = await AddressService.GetAddress();
    }

    private async Task SubmitAddress()
    {
        editAddress = false;
        address = await AddressService.AddOrUpdateAddress(address);
    }

    private void InitAddress()
    {
        address = new Address();
        editAddress = true;
    }

    private void EditAddress()
    {
        editAddress = true;
    }
}