<MudCarousel Class="mud-width-full" Style="height:600px;" ShowArrows="@arrows" ShowBullets="@bullets" AutoCycle="false" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Filled.Computer" Style="font-size: 6rem;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Filled.TabletMac" Style="font-size: 6rem;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Filled.PhoneAndroid" Style="font-size: 6rem;" />
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private Transition transition = Transition.Slide;

}
