@inject IProductService ProductService
@implements IDisposable
<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Featured products</MudText>
    <MudText Align="Align.Center">Most popular choice this week. Check them out</MudText>
    <MudGrid Class="mt-8">
        @if (ProductService.Products == null || ProductService.Products.Count == 0)
        {
            <MudText Typo="Typo.h5">@ProductService.Message</MudText>
        }
        else
        {

            @foreach (var product in ProductService.Products)
            {

                @if (product.Featured)
                {
                    <MudItem xs="12" sm="6" md="4">
                        <MudCard Elevation="25" Class="rounded-lg pb-4">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <a href="product/@product.Id">
                                        @if (!string.IsNullOrEmpty(product.ImageUrl))
                                        {
                                            <MudImage Src="@product.ImageUrl" Fluid="true" Alt="@product.Title" Class="rounded-lg" />
                                        }
                                        else if (product.Images.Count > 0)
                                        {
                                            <MudImage Src="@product.Images[0].Data" Fluid="true" Alt="@product.Title" Class="rounded-lg" />
                                        }
                                    </a>
                                    
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <div class="d-flex justify-left">
                                    <MudText Typo="Typo.h6"><a href="product/@product.Id">@product.Title</a></MudText>
                                </div>
                                <div class="d-flex justify-left">
                                    <MudText Typo="Typo.body1" Class="ml-1 mt-5" Color="Color.Secondary"><a href="product/@product.Id">$@product.Variants[0].Price</a></MudText>
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            }
        }
    </MudGrid>
</MudContainer>














@code {
    private Transition transition = Transition.Slide;

    protected override void OnInitialized()
    {
        ProductService.ProductsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ProductService.ProductsChanged -= StateHasChanged;
    }
}


