@inject IProductService ProductService
@implements IDisposable

<section class="mb-lg-4 mt-lg-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h3 class="mb-0">Popular Products</h3>
            </div>
        </div>

        <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
            @if (ProductService.Products == null || ProductService.Products.Count == 0)
            {
                <p>@ProductService.Message</p>
            }
            else
            {
                @foreach (var product in ProductService.Products)
                {

                    @if (product.Featured)
                    {
                        <div class="col">
                            <div class="card card-product">
                                <div class="card-body">

                                    <div class="text-center position-relative ">

                                        <a href="product/@product.Id">
                                            @if (!string.IsNullOrEmpty(product.ImageUrl))
                                            {
                                                <img src="@product.ImageUrl" alt="@product.Title" class="mb-3 img-fluid">
                                            }
                                            else if (product.Images.Count > 0)
                                            {
                                                <img src="@product.Images[0].Data" alt="@product.Title" class="mb-3 img-fluid">
                                            }
                                        </a>
                                    </div>

                                    <h2 class="fs-6">
                                        <a href="product/@product.Id" class="text-inherit text-decoration-none">
                                            @product.Title
                                        </a>
                                    </h2>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">$@product.Variants[0].Price</span> <span class="text-decoration-line-through text-muted">$@product.Variants[0].OriginalPrice</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            }
        </div>
    </div>
</section>

@code {

    protected override void OnInitialized()
    {
        ProductService.ProductsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ProductService.ProductsChanged -= StateHasChanged;
    }
}


