<style>
    .shop-navbar {
    background-color: var(--mud-palette-white);
    color: var(--mud-palette-black);
}

.mud-expand-panel, .shop-navbar-expand {
    color: var(--mud-palette-appbar-text);
    background-color: var(--mud-palette-appbar-background);
}

/*.shop-navbar .mud-button {
    text-transform: none;
}*/

.shop-navbar .mud-expand-panel-header {
    padding: 0px;
    width: 100%;
    height: 100%;
    flex: none;
}

</style>

@inject ICategoryService CategoryService
@implements IDisposable

<MudAppBar Fixed="true" Elevation="0" DisableGutters="true" Class="shop-navbar">
    <div class="d-none d-md-flex align-center px-6">
        <MudPaper Height="36px" Width="36px" Elevation="0" Class="pa-1 rounded-lg d-flex justify-center align-center mud-theme-primary">
            <MudText Typo="Typo.h6">C</MudText>
        </MudPaper>
        <MudText Typo="Typo.h6" Class="ml-4 mr-12 pt-1 pb-2">Computer Space</MudText>
        <MudButton Color="Color.Inherit" Link="/">Home</MudButton>

        @foreach (var category in CategoryService.Categories)
        {
            <MudButton Color="Color.Inherit" Link="@category.Url">@category.Name</MudButton>
        }
    </div>
    <MudSpacer />
    <div class="d-none d-md-flex align-center px-6">
        <UserButton />
        <CartCounter />
    </div>
    <div class="d-flex d-md-none relative mud-width-full mud-height-full">
        <MudExpansionPanels Square="true" Elevation="0" Class="absolute mud-width-full mud-height-full" Style="top:0px;left:0; background-color:Inherit;">
            <MudExpansionPanel HideIcon="true" Class="mud-width-full mud-height-full">
                <TitleContent>
                    <div class="d-flex justify-space-between mud-width-full align-center px-6">
                        <div class="d-flex align-center">
                            <MudPaper Height="36px" Width="36px" Elevation="25" Class="pa-1 rounded-lg d-flex justify-center align-center mud-theme-primary">
                                <MudText Typo="Typo.h6">C</MudText>
                            </MudPaper>
                            <MudText Typo="Typo.h6" Class="ml-4 mr-12 pt-1 pb-2">Computer Space</MudText>
                        </div>
                        <MudIcon Icon="@Icons.Material.Filled.Menu" />
                    </div>
                </TitleContent>
                <ChildContent>
                    <div class="py-6 mx-n6 shop-navbar-expand">
                        <MudNavMenu>
                            <MudNavLink Href="/">Home</MudNavLink>
                            @foreach (var category in CategoryService.Categories)
                            {
                                <MudNavLink Href="@category.Url">@category.Name</MudNavLink>
                            }
                        </MudNavMenu>
                    </div>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </div>
</MudAppBar>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        CategoryService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CategoryService.OnChange -= StateHasChanged;
    }
}